<div class="attack-editor my-4">
  <div class="o-grid pb-2">
    <div class="o-grid__cell">
      <div class="u-heading u-large">Harm</div>
    </div>
    <div class="o-grid__cell u-display-flex justify-end">
      <input name="harm" type="number" class="c-field u-large align-right" value="{{attack.harm}}" min="0" step="1" />
    </div>
  </div>

  <div class="o-grid pb-2">
    <div class="o-grid__cell">
      <div class="u-heading u-large">Range</div>
    </div>
    <div class="o-grid__cell u-display-flex justify-end">
      <div class="u-display-flex u-flex-column" style="gap: 4px;">
        <label class="c-toggle c-toggle--success">
          <input name="range.near" type="checkbox" {{#if attack.range.near}}checked{{/if}} />
          <div class="c-toggle__track">
            <div class="c-toggle__handle"></div>
          </div>
          Near
        </label>
        <label class="c-toggle c-toggle--success">
          <input name="range.mid" type="checkbox" {{#if attack.range.mid}}checked{{/if}} />
          <div class="c-toggle__track">
            <div class="c-toggle__handle"></div>
          </div>
          Mid
        </label>
        <label class="c-toggle c-toggle--success">
          <input name="range.far" type="checkbox" {{#if attack.range.far}}checked{{/if}} />
          <div class="c-toggle__track">
            <div class="c-toggle__handle"></div>
          </div>
          Far
        </label>
      </div>
    </div>
  </div>

  <div class="c-divider c-divider--solid">
    <div class="c-divider__content">
      Tags
    </div>
  </div>

  <div class="o-grid o-grid--wrap mb-2">
    {{#each attacks.tags as |tag|}}
    <div class="o-grid__cell">
      <div class="c-badge u-large">{{tag.name}}</div>
    </div>
    {{/each}}
  </div>

  <div class="o-panel-container" style="height: 150px;">
    <div class="o-panel">
      <div class="o-grid o-grid--wrap mt-2 mb-4">
      {{#each gameTags as |tag|}}
        <div class="o-grid__cell">
          {{#if (contains ../attack.tags tag._id)}}
          <div class="tag-badge c-badge u-large c-badge--success" data-id="{{tag._id}}" data-has="true">{{tag.name}}</div>
          {{^}}
          <div class="tag-badge c-badge u-large" data-id="{{tag._id}}" data-has="false">{{tag.name}}</div>
          {{/if}}
        </span>
      {{/each}}
      </div>
    </div>
  </div>
</div>
