<form class="{{cssClass}}" autocomplete="off">
  <div class="u-display-flex pb-4">
    <div class="u-flex-0">
      <div class="c-avatar u-super">
        <img class="c-avatar__img" data-edit="img" alt="{{actor.name}}" src="{{actor.img}}" />
      </div>
    </div>

    <div class="u-flex-1 u-display-flex u-flex-column pl-4 mb-2">
      <div class="u-flex-1 illuminated-by-lumen"></div>
      <input class="c-field u-xlarge" type="text" name="name" value="{{actor.name}}" />
    </div> 
  </div>

  <nav role="tablist" class="hero-tabs c-tabs">
    <div class="c-tabs__nav">
      <div class="c-tabs__headings">
        {{{blazeTab "Core" 0 data.system.tab}}}
        {{{blazeTab "Powers" 1 data.system.tab}}}
        {{{blazeTab "Items" 2 data.system.tab}}}
        {{{blazeTab "Reference" 3 data.system.tab}}}
      </div>
    </div>
  </nav>

  {{#if (eq data.system.tab 0)}}
  <div role="tabpanel" class="c-tabs__tab u-display-flex u-flex-column u-flex-1">
    <div class="c-divider c-divider--solid mb-2">
      <div class="c-divider__content">
        Rolls
      </div>
    </div>

    <div class="o-grid pb-2">
      <div class="o-grid__cell">
        <span class="c-tooltip c-tooltip--top" aria-label="Roll with Force">
          <button class="roll-force c-button c-button--error">
            <i class="fa-solid fa-dice-d20"></i>
            <span>Force</span>
          </button>
        </span>
      </div>

      <div class="o-grid__cell">
        <span class="c-tooltip c-tooltip--top" aria-label="Roll with Flow">
          <button class="roll-flow c-button c-button--success">
            <i class="fa-solid fa-dice-d20"></i>
            <span>Flow</span>
          </button>
        </span> 
      </div>

      <div class="o-grid__cell">
        <span class="c-tooltip c-tooltip--top" aria-label="Roll with Focus">
          <button class="roll-focus c-button c-button--info">
            <i class="fa-solid fa-dice-d20"></i>
            <span>Focus</span>
          </button>
        </span> 
      </div>
    </div>

    <div class="o-grid pb-4">
      <div class="o-grid__cell">
        <input
          type="number"
          class="c-input u-large align-right p-2"
          name="system.force"
          value="{{data.system.approaches.force}}"
          min="0"
          max="6"
          step="1"
        />
      </div>

      <div class="o-grid__cell">
        <input
          type="number"
          class="c-input u-large align-right p-2"
          name="system.flow"
          value="{{data.system.approaches.flow}}"
          min="0"
          max="6"
          step="1"
        />
      </div>

      <div class="o-grid__cell">
        <input
          type="number"
          class="c-input u-large align-right p-2"
          name="system.focus"
          value="{{data.system.approaches.focus}}"
          min="0"
          max="6"
          step="1"
        />
      </div>
    </div>

    <div class="c-divider c-divider--solid mb-2">
      <div class="c-divider__content">
        Stats
      </div>
    </div>

    <div class="c-table pb-4">
      <div class="c-table__row">
        <span class="c-table__cell">
          <span class="c-heading u-xlarge padding-small">Health</span>
        </span>
        <span class="c-table__cell u-flex justify-end items-center">
          <div class="c-input-group u-flex-1/2">
            <div class="o-field">
              <input
                name="system.health.value"
                value="{{data.system.health.value}}"
                class="c-input u-large align-right"
                type="number"
                min="0"
                max="{{data.system.health.max}}"
                step="1"
              />
            </div>
            <div class="o-field o-field--fixed px-2 u-display-flex u-flex-column justify-center">
              <span>/</span>
            </div>
            <div class="o-field">
              <input
                name="system.health.max"
                value="{{data.system.health.max}}"
                class="c-input u-large align-right"
                type="number"
                min="0"
                max="99"
                step="1"
              />
            </div>
          </div>
        </span>
      </div>
      
      {{#if data.system.supportShields}}
      <div class="c-table__row">
        <span class="c-table__cell">
          <span class="c-heading u-xlarge padding-small">Shields</span>
        </span>
        <span class="c-table__cell u-flex justify-end items-center">
          <div class="c-input-group u-flex-1/2">
            <div class="o-field">
              <input
                name="system.shield.value"
                value="{{data.system.shield.value}}"
                class="c-input u-large align-right"
                type="number"
                min="0"
                max="{{data.system.shield.max}}"
                step="1"
              />
            </div>
            <div class="o-field o-field--fixed px-2 u-display-flex u-flex-column justify-center">
              <span>/</span>
            </div>
            <div class="o-field">
              <input
                name="system.shield.max"
                value="{{data.system.shield.max}}"
                class="c-input u-large align-right"
                type="number"
                min="0"
                max="99"
                step="1"
              />
            </div>
          </div>
        </span>
      </div>
      {{/if}}

      <div class="c-table__row">
        <span class="c-table__cell">
          <span class="c-heading u-xlarge padding-small">Energy</span>
        </span>
        <span class="c-table__cell u-flex justify-end items-center">
          <div class="c-input-group u-flex-1/2">
            <div class="o-field">
              <input
                name="system.energy.value"
                value="{{data.system.energy.value}}"
                class="c-input u-large align-right"
                type="number"
                min="0"
                max="{{data.system.energy.max}}"
                step="1"
              />
            </div>
            <div class="o-field o-field--fixed px-2 u-display-flex u-flex-column justify-center">
              <span>/</span>
            </div>
            <div class="o-field">
              <input
                name="system.energy.max"
                value="{{data.system.energy.max}}"
                class="c-input u-large align-right"
                type="number"
                min="0"
                max="99"
                step="1"
              />
            </div>
          </div>
        </span>
      </div>
    </div>
    
    <div class="c-divider c-divider--solid mb-2">
      <div class="c-divider__content">
        Notes
      </div>
    </div>

    {{#unless (empty notesHTML)}}
    <div class="system-notes mx-4 pb-4">
      {{{notesHTML}}}
    </div>
    {{/unless}}

    <div class="note-actions">
      <div class="o-grid">
        <div class="o-grid__cell o-grid__cell--width-20 o-grid__cell--offset-80">
          <button type="button" class="edit-notes c-button u-medium">
            <i class="fa-solid fa-pencil fa-sm"></i>
            <span>Edit</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  {{/if}}

  {{#if (eq data.system.tab 1)}}
  <div role="tabpanel" class="c-tabs__tab">
    {{#each data.system.powers as |power|}}
    <div class="c-card u-text">
      <header class="c-card__header">
        <div class="o-grid">
          <div class="o-grid__cell align-left">
            {{#if power.system.passive}}
            <span class="u-text--quiet c-tooltip c-tooltip--right" aria-label="Passive">
              <i class="fa-solid fa-moon pr-1"></i>
            </span>
            {{^}}
            <span class="u-text--quiet c-tooltip c-tooltip--right" aria-label="Active">
              <i class="fa-solid fa-sun pr-1"></i>
            </span>
            {{/if}}

            <a class="open-power" data-id="{{power._id}}">
              <span class="c-heading u-large">{{power.name}}</span>
            </a>
          </div>

          <div class="o-grid__cell align-right">
            <a class="delete-power c-link c-link--error" data-id="{{power._id}}">
              <i class="fa-solid fa-trash"></i>
            </a>
          </div>
        </div>
      </header>

      <div class="c-card__body">
        <blockquote class="u-blockquote px-4 py-1 mb-2">
          <div class="u-blockquote__body py-1">
            {{power.system.description}}
          </div>
        </blockquote>

        <div class="o-grid o-grid--wrap">
          {{#each power.system.tags as |tagId|}}
            <div class="o-grid__cell">
              <a class="tag-badge c-badge u-xsmall" data-id="{{tagId}}">{{itemName tagId}}</a>
            </div>
          {{/each}}
        </div>

        {{#unless power.system.passive}}
        <div class="o-grid mt-3">
          <div class="o-grid__cell">
            <i class="fa-solid fa-bolt"></i>
            <span>{{power.system.cost}}</span>
          </div>
          <div class="o-grid__cell o-grid__cell--width-fixed" style="width: 5rem;">
            <button class="use-power c-button c-button--success u-small u-text--loud" data-name="{{power.name}}" data-cost="{{power.system.cost}}" {{#if (lt ../data.system.energy.value power.system.cost)}}disabled{{/if}}>
              Use
            </button>
          </div>
        </div>
        {{/unless}}
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  {{#if (eq data.system.tab 2)}}
  <div role="tabpanel" class="c-tabs__tab u-display-flex u-flex-column u-flex-1">
    <div class="c-divider c-divider--solid mb-2">
      <div class="c-divider__content">
        Weapons
      </div>
    </div>

    {{#each data.system.weapons as |weapon|}}
    <div class="c-card u-text">
      <header class="c-card__header">
        <div class="o-grid">
          <div class="o-grid__cell align-left">
            <a class="open-item" data-id="{{weapon._id}}">
              <span class="c-heading u-large">{{weapon.name}}</span>
            </a>
          </div>

          <div class="o-grid__cell align-right">
            <a class="delete-item c-link c-link--error" data-id="{{weapon._id}}">
              <i class="fa-solid fa-trash"></i>
            </a>
          </div>
        </div>
      </header>

      <div class="c-card__body">
        <div class="o-grid pb-3">
          <div class="o-grid__cell align-center">
            <span class="c-tooltip c-tooltip--right" aria-label="Quantity">
              <i class="fa-solid fa-hashtag"></i><span> {{weapon.system.quantity}}</span>
            </span>
          </div>

          <div class="o-grid__cell align-center">
            <span class="c-tooltip c-tooltip--right" aria-label="Value">
              <i class="fa-solid fa-coins"></i><span class="pl-1"> {{weapon.system.value}}</span>
            </span>
          </div>

          <div class="o-grid__cell align-center">
            <span class="c-tooltip c-tooltip--left" aria-label="Harm">
              <i class="fa-solid fa-sword"></i><span class="pl-1"> {{weapon.system.harm}}</span>
            </span>
          </div>

          <div class="o-grid__cell align-center">
            <span class="c-tooltip c-tooltip--left" aria-label="Range">
              {{#if weapon.system.range.near}}
              <span class="c-badge c-badge--info">Near</span>
              {{/if}}

              {{#if weapon.system.range.mid}}
              <span class="c-badge c-badge--info">Mid</span>
              {{/if}}

              {{#if weapon.system.range.far}}
              <span class="c-badge c-badge--info">Far</span>
              {{/if}}
            </span>
          </div>
        </div>

        <blockquote class="u-blockquote px-4 py-1 mb-2">
          <div class="u-blockquote__body py-1">
            {{weapon.system.description}}
          </div>
        </blockquote>

        <div class="o-grid o-grid--wrap">
          {{#each weapon.system.tags as |tagId|}}
            <div class="o-grid__cell">
              <a class="tag-badge c-badge u-xsmall" data-id="{{tagId}}">{{itemName tagId}}</a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}

    <div class="c-divider c-divider--solid mt-2 mb-2">
      <div class="c-divider__content">
        Gear
      </div>
    </div>

    {{#each data.system.gear as |gear|}}
    <div class="c-card u-text">
      <header class="c-card__header">
        <div class="o-grid">
          <div class="o-grid__cell align-left">
            <a class="open-item" data-id="{{gear._id}}">
              <span class="c-heading u-large">{{gear.name}}</span>
            </a>
          </div>

          <div class="o-grid__cell align-right">
            <a class="delete-item c-link c-link--error" data-id="{{gear._id}}">
              <i class="fa-solid fa-trash"></i>
            </a>
          </div>
        </div>
      </header>

      <div class="c-card__body">
        <div class="o-grid pb-2">
          <div class="o-grid__cell align-center">
            <span class="c-tooltip c-tooltip--right" aria-label="Quantity">
              <i class="fa-solid fa-hashtag"></i><span> {{gear.system.quantity}}</span>
            </span>
          </div>

          <div class="o-grid__cell align-center">
            <span class="c-tooltip c-tooltip--right" aria-label="Value">
              <i class="fa-solid fa-coins"></i><span class="pl-1"> {{gear.system.value}}</span>
            </span>
          </div>
          
          <div class="o-grid__cell o-grid__cell--width-50"></div>
        </div>

        <blockquote class="u-blockquote px-4 py-1 mb-2">
          <div class="u-blockquote__body py-1">
            {{gear.system.description}}
          </div>
        </blockquote>

        <div class="o-grid o-grid--wrap">
          {{#each gear.system.tags as |tagId|}}
            <div class="o-grid__cell">
              <a class="tag-badge c-badge u-xsmall" data-id="{{tagId}}">{{itemName tagId}}</a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  {{#if (eq data.system.tab 3)}}
  <div role="tabpanel" class="c-tabs__tab">
    <div class="c-divider c-divider--solid mb-2">
      <div class="c-divider__content">
        Documents
      </div>
    </div>
    
    <div class="o-grid mb-2">
      <div class="o-grid__cell">
      </div>

      <div class="o-grid__cell">
        <a class="tag-list">
          <button class="c-button c-button--info">Tag List</button>
        </a>
      </div>

      <div class="o-grid__cell">
      </div>
    </div>
    
    <div class="c-divider c-divider--solid mb-2">
      <div class="c-divider__content">
        Rolling
      </div>
    </div>
    
    <p class="c-paragraph mb-2">
      Rolls are composed of d6 dice pools, with the number of dice equal to the value of the <strong>Approach</strong> being used. In other words, a value of <strong>2</strong> would equate to <strong>2d6</strong> being rolled.
    </p>
    
    <table class="c-table mb-2">
      <tbody class="c-table__body">
        <tr class="c-table__row">
          <td class="c-table__cell u-center-block">
            <span class="u-center-block__content">
              <strong>Force</strong>
            </span>
          </td>
          <td class="c-table__cell">
            <span>
            	Feats of strength, sweeping actions, emotional situations. When things are intense and big, this is the one for you.
            </span>
          </td>
        </tr>
        <tr class="c-table__row">
          <td class="c-table__cell u-center-block">
            <span class="u-center-block__content">
              <strong>Flow</strong>
            </span>
          </td>
          <td class="c-table__cell">
            <span>
            	Reacting at the right time, coming up with the right idea at the right time, seizing an opportunity. Think fast, act faster.
            </span>
          </td>
        </tr>
        <tr class="c-table__row">
          <td class="c-table__cell u-center-block">
            <span class="u-center-block__content">
              <strong>Focus</strong>
            </span>
          </td>
          <td class="c-table__cell">
            <span>
            	Patient, methodical, even surgical in the approach. Expertise and the right action for exactly the right situation.
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="c-paragraph mb-2">
      Once a pool is rolled, unless otherwise stated (e.g. in specific <strong>Power</strong> conditions) keep the <em>highest</em> value out of all of the dice in the pool.
    </p>

    <div class="c-divider c-divider--solid mb-2">
      <div class="c-divider__content">
        Result
      </div>
    </div>

    <p class="c-paragraph mb-2">
      The results of a roll are interpretted using the following table:
    </p>
    
    <table class="c-table mb-2">
      <tbody class="c-table__body">
        <tr class="c-table__row">
          <td class="c-table__cell u-center-block">
            <span class="u-center-block__content">
              <strong>1-2</strong>
            </span>
          </td>
          <td class="c-table__cell">
            <span>
            	Failure, with a consequence
            </span>
          </td>
        </tr>
        <tr class="c-table__row">
          <td class="c-table__cell u-center-block">
            <span class="u-center-block__content">
              <strong>3-5</strong>
            </span>
          </td>
          <td class="c-table__cell">
            <span>
            	Success, with a consequence
            </span>
          </td>
        </tr>
        <tr class="c-table__row">
          <td class="c-table__cell u-center-block">
            <span class="u-center-block__content">
              <strong>6</strong>
            </span>
          </td>
          <td class="c-table__cell">
            <span>
            	Success, full effect with no consequence
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    
    <p class="c-paragraph mb-2">
      Note that on a <strong>3-5</strong> your action still succeeds, but the GM gets to impose a consequence against you. What this means will vary based on the scene. A consequence in combat may simply be an attack, whereas one in a town may mean a vendor raises her prices.
    </p>
    
    <div class="c-divider c-divider--solid mb-2">
      <div class="c-divider__content">
        Combat
      </div>
    </div>
    
    <p class="c-paragraph mb-2">
      Quick notes about combat:
    </p>
    
    <ul class="c-list mb-4">
      <li class="c-list__item">
        Every turn, a player can <strong>Move</strong>, take an <strong>Action</strong>, and use a <strong>Power</strong>
      </li>
      <li class="c-list__item">
        The GM acts on "failed" rolls and has one final turn at the end of the round
      </li>
      <li class="c-list__item">
        Players choose which order they move in each round
      </li>
      <li class="c-list__item">
        At the end of the round, <strong>Essence</strong> is generated per enemy slain
        
        <ul class="c-list">
          <li class="c-list__item">
            <strong>Essence</strong> can only be used once (no sharing!)
          </li>
        </ul>
      </li>
      <li class="c-list__item">
        The GM may choose to "change the battlefield" at the end of the round

        <ul class="c-list">
          <li class="c-list__item">
            This can range from bringing in more troops to completely altering your win conditions
          </li>
        </ul>
      </li>
    </ul>

    <p class="c-paragraph mb-2">
      Examples of <strong>Actions</strong> (not inclusive):
    </p>
    
    <ul class="c-list mb-4">
      <li class="c-list__item">
        Attack with your weapon
      </li>
      <li class="c-list__item">
        Grapple an enemy to prevent them from acting
      </li>
      <li class="c-list__item">
        Use an item from your inventory
      </li>
      <li class="c-list__item">
        Affect the terrain to give you an advantage
      </li>
    </ul>

    <p class="c-paragraph mb-2">
      <strong>Range</strong> is broken into three bands:
    </p>

    <ul class="c-list mb-4">
      <li class="c-list__item">
        Near
      </li>
      <li class="c-list__item">
        Mid
      </li>
      <li class="c-list__item">
        Far
      </li>
    </ul>

    <p class="c-paragraph mb-2">
      <strong>Weapons</strong> and <strong>Powers</strong> will generally specify the <strong>Range</strong> bands they can target.
    </p>

    <div class="c-divider c-divider--solid mb-2">
      <div class="c-divider__content">
        Breaks
      </div>
    </div>
    
    <p class="c-paragraph mb-2">
      While most of your <strong>Energy</strong> will go toward using <strong>Powers</strong>, you may also choose to use them for <strong>Breaks</strong>. A <strong>Break</strong> is short for <strong>Breaking the Fourth Wall</strong> - in other words, its your opportunity to gameify the session for a moment.
    </p>

    <p class="c-paragraph mb-2">
      Usage of <strong>Breaks</strong> are:
    </p>

    <ul class="c-list">
      <li class="c-list__item">
        Small story manipulations

        <ul class="c-list">
          <li class="c-list__item">
            Small story manipulations E.g. You enter a cave and fall through a hole without any rope. Perform a <strong>Break</strong> to say actually, you did have a rope in your pack.
          </li>
        </ul>
      </li>
      <li class="c-list__item">
        Reroll any action
      </li>
      <li class="c-list__item">
        Add a die to your roll

        <ul class="c-list">
          <li class="c-list__item">
            Must be declared before the roll
          </li>
        </ul>
      </li>
    </ul>

    <div class="c-divider c-divider--solid mb-2">
      <div class="c-divider__content">
        Tags
      </div>
    </div>
    
    <p class="c-paragraph mb-2">
      Tags are an important aspect of <strong>Weapons</strong> and <strong>Gear</strong>. They can be static or dynamic - meaning some may never change, while others shift constantly. How much attention you pay to <strong>Tags</strong> will determine how unique your equipment feels. If you find yourself thinking all your <strong>Weapons</strong> are too similar, try taking another look at those <strong>Tags</strong>!
    </p>

    <p class="c-paragraph mb-2">
      Some <strong>Tags</strong> have obvious, direct effects. Others have a more narrative description. These can still be extremely powerful, but its up to you to make sure you apply them in the right scenarios.
    </p>

    <p class="c-paragraph mb-2">
      Some examples of <strong>Tags</strong>:
    </p>

    <table class="c-table mb-2">
      <tbody class="c-table__body">
        <tr class="c-table__row">
          <td class="c-table__cell u-center-block">
            <span class="u-center-block__content">
              <strong>AOE</strong>
            </span>
          </td>
          <td class="c-table__cell">
            <span>
            	Attacks hit in an area, affecting multiple targets at once.
            </span>
          </td>
        </tr>
        <tr class="c-table__row">
          <td class="c-table__cell u-center-block">
            <span class="u-center-block__content">
              <strong>Blessed</strong>
            </span>
          </td>
          <td class="c-table__cell">
            <span>
            	This item has been blessed by a powerful entity.
            </span>
          </td>
        </tr>
        <tr class="c-table__row">
          <td class="c-table__cell u-center-block">
            <span class="u-center-block__content">
              <strong>Bloodthirsty</strong>
            </span>
          </td>
          <td class="c-table__cell">
            <span>
            	Recover 1 <strong>Harm</strong> when killing an enemy with <strong>Force</strong>.
            </span>
          </td>
        </tr>
        <tr class="c-table__row">
          <td class="c-table__cell u-center-block">
            <span class="u-center-block__content">
              <strong>Pierce</strong>
            </span>
          </td>
          <td class="c-table__cell">
            <span>
            	<strong>Harm</strong> from this weapon ignores <strong>Shields</strong>.
            </span>
          </td>
        </tr>
        <tr class="c-table__row">
          <td class="c-table__cell u-center-block">
            <span class="u-center-block__content">
              <strong>Unwieldy</strong>
            </span>
          </td>
          <td class="c-table__cell">
            <span>
            	This item is awkward to use.
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {{/if}}
</form>
