<form class="{{cssClass}}" autocomplete="off">
  <div class="u-display-flex pb-2">
    <div class="u-flex-0">
      <div class="c-avatar u-super">
        <img class="c-avatar__img" data-edit="img" alt="{{item.name}}" src="{{item.img}}" />
      </div>
    </div>

    <div class="u-flex-1 u-display-flex u-flex-column pl-4 mb-2">
      <div class="u-flex-1 illuminated-by-lumen"></div>
      <input class="c-field u-xlarge" type="text" name="name" value="{{item.name}}" />
    </div> 
  </div>

  <div class="c-divider c-divider--solid">
    <div class="c-divider__content">
      Data
    </div>
  </div>
  
  <div class="o-grid">
    <div class="o-grid__cell">
      <label class="u-heading u-large" for="system.passive">Passive</label>
    </div>
    <div class="o-grid__cell u-display-flex justify-end">
      <label class="c-toggle c-toggle--success">
        <input id="system.passive" name="system.passive" type="checkbox" {{#if data.system.passive}}checked{{/if}} />
        <div class="c-toggle__track">
          <div class="c-toggle__handle"></div>
        </div>
      </label>
    </div>
  </div>

  {{#unless data.system.passive}}
  <div class="o-grid pt-2">
    <div class="o-grid__cell">
      <label class="u-heading u-large" for="system.cost">Cost</label>
    </div>
    <div class="o-grid__cell u-display-flex justify-end">
      <input id="system.cost" name="system.cost" class="c-field u-large align-right" type="number" value="{{data.system.cost}}" min="1" max="99" step="1" />
    </div>
  </div>
  {{/unless}}
  
  <div class="c-divider c-divider--solid">
    <div class="c-divider__content">
      Description
    </div>
  </div>

  <div class="m-2">
    <textarea class="c-field" name="system.description" rows="4">{{data.system.description}}</textarea>
  </div>

  <div class="c-divider c-divider--solid">
    <div class="c-divider__content">
      Tags
    </div>
  </div>

  <div class="o-grid o-grid--wrap mb-2">
    {{#each data.system.tags as |tag|}}
      <div class="o-grid__cell">
        <div class="c-badge u-large">{{tag.name}}</div>
      </div>
    {{/each}}
  </div>
  
  <div class="o-grid">
    <div class="o-grid__cell o-grid__cell--width-75">
    </div>

    <div class="o-grid__cell">
      <button class="add-tag c-button">
        Edit Tags
      </button>
    </div>
  </div>
</form>
