<form class="{{cssClass}}" autocomplete="off">
  <div class="u-display-flex pb-2">
    <div class="u-flex-0">
      <div class="c-avatar u-super">
        <img class="c-avatar__img" data-edit="img" alt="{{item.name}}" src="{{item.img}}" />
      </div>
    </div>

    <div class="u-flex-1 u-display-flex u-flex-column pl-4 mb-2">
      <div class="u-flex-1 illuminated-by-lumen"></div>
      <input class="c-field u-xlarge" type="text" name="name" value="{{item.name}}" />
    </div> 
  </div>

  <div class="c-divider c-divider--solid">
    <div class="c-divider__content">
      Description
    </div>
  </div>

  <div class="m-2">
    <textarea class="c-field" name="system.description" rows="4">{{data.system.description}}</textarea>
  </div>
</form>

